:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  text-transform: capitalize;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

/* LOADING */
@keyframes loading-rotate {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  border: #c6c6c6 solid 4px;
  border-top: #686868 solid 4px;
  border-radius: 50%;
  animation: loading-rotate 0.6s infinite;
}

/* NAVBAR */
.navbar {
  background-color: #686868;
  height: 60px;
}

.nav-links {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.nav-link {
  width: 150px;
  height: 30px;
  margin: 15px 0;
}

.nav-link a {
  text-decoration: none;
  color: #fff;
  font-size: x-large;
  cursor: pointer;
}

.nav-link a:hover {
  border-bottom: #fff 1px solid;
}

.nav-selected a {
  border-bottom: #fff 1px solid;
}

/* 2 COL TABLE */
.two-col {
  display: flex;
  margin: 0 auto;
  margin-top: 10vw;
  gap: 5%;
}

/* ODDS SELECTION */
.odds {
  width: 15%;
  text-align: left;
}

.odd {
  border-bottom: #686868 solid 1px;
  border-left: #686868 solid 1px;
  border-right: #686868 solid 1px;
  padding: 5px 0 5px 15px;
  cursor: pointer;
  transition: color 0.6s, background-color 0.6s;
}

.odd:first-child {
  border-top: #686868 solid 1px;
}

.odd-selected,
.odd:hover {
  background-color: #686868;
  color: #fff;
}

/* FIXTURES */
.fixture-table {
  width: 80%;
}

thead {
  background-color: #686868;
  color: #fff;
}
